<div class="empty-space"></div>
<div id="main-container">
  <div id="logos-container">
    <div class="logo-container"><img src="/food-icon/sushi.png" draggable="false" /></div>
    <div class="logo-container"><img src="/food-icon/vegetarian.png" draggable="false" /></div>
    <div class="logo-container"><img src="/food-icon/default.png" draggable="false" /></div>
    <div class="logo-container"><img src="/food-icon/taco.png" draggable="false" /></div>
    <div class="logo-container"><img src="/food-icon/sushi.png" draggable="false" /></div>
    <div class="logo-container"><img src="/food-icon/burger.png" draggable="false" /></div>
    <div class="logo-container"><img src="/food-icon/burger.png" draggable="false" /></div>
    <div class="logo-container"><img src="/food-icon/default.png" draggable="false" /></div>
    <div class="logo-container"><img src="/food-icon/sushi.png" draggable="false" /></div>
    <div class="logo-container"><img src="/food-icon/burger.png" draggable="false" /></div>
    <div class="logo-container"><img src="/food-icon/default.png" draggable="false" /></div>
    <div class="logo-container"><img src="/food-icon/sushi.png" draggable="false" /></div>
    <div class="logo-container"><img src="/food-icon/pizza.png" draggable="false" /></div>
    <div class="logo-container"><img src="/food-icon/vegetarian.png" draggable="false" /></div>
    <div class="logo-container"><img src="/food-icon/burger.png" draggable="false" /></div>
    <div class="logo-container"><img src="/food-icon/pizza.png" draggable="false" /></div>
    <div class="logo-container"><img src="/food-icon/sushi.png" draggable="false" /></div>
    <div class="logo-container"><img src="/food-icon/burger.png" draggable="false" /></div>
    <div class="logo-container"><img src="/food-icon/default.png" draggable="false" /></div>
    <div class="logo-container"><img src="/food-icon/vegetarian.png" draggable="false" /></div>
    <div class="logo-container"><img src="/food-icon/taco.png" draggable="false" /></div>
    <div class="logo-container"><img src="/food-icon/pizza.png" draggable="false" /></div>
    <div class="logo-container"><img src="/food-icon/sushi.png" draggable="false" /></div>
    <div class="logo-container"><img src="/food-icon/burger.png" draggable="false" /></div>
    <div class="logo-container"><img src="/food-icon/default.png" draggable="false" /></div>
    <div class="logo-container"><img src="/food-icon/vegetarian.png" draggable="false" /></div>
    <div class="logo-container"><img src="/food-icon/taco.png" draggable="false" /></div>
    <div class="logo-container"><img src="/food-icon/pizza.png" draggable="false" /></div>
    <div class="logo-container"><img src="/food-icon/sushi.png" draggable="false" /></div>
  </div>

  <app-search-bar (searchEvent)="search($event)" />
</div>
<div class="empty-space"></div>
